	h1,h2,h3,h4,body,article,section,nav,figure, img, footer,h5, p, div, figcaption, header{
    padding: 0;
    margin: 0;
	font-size: 100%;
    vertical-align: baseline;
	font: inherit;
	line-height: 1;
	border: 0;
	list-style: none;
	}

.img{
		display: inline-block;
}

.footer{
		display: block;
		}
.body{
		display: block;
		margin: 8px;
		}

.a:link {
color: black;
text-decoration: underline;
cursor: auto;
}
